<p><%= link_to "My Closet", closets_path(@current_user) %></p>
<%= link_to "Go Shopping", clothings_path %>

<h1>Clothing Show Page</h1>

<%= image_tag @clothing.img_url %>
<br>
<h2><%= @clothing.name%></h2>
<br>
<h3><%= @clothing.description%></h3>
<br>
<h3><%= @clothing.category%></h3>
<br>
<h3><%= @clothing.gender %></h3>

<%# if @current_user.logged_in? %>
<% if @current_user.clothings.find_by(id: @clothing.id)  %>
    <p>You Already Own This!</p>
    <% else %>
    <%# have a form that sends back user_id & clothing_id %>
    <%# sends to coleset controler and create  %>
    <%= form_tag '/closets' do %>
        <%= hidden_field_tag  :user_id, @current_user.id %>
        <%= hidden_field_tag :clothing_id, @clothing.id %>
        <%= submit_tag "Add to Closet" %>
    <% end %>
<% end %>



