<h1>Outfit Show Page</h1>

<%= @outfit.name %>
<br>
<% @outfit.outfit_clothings.map do |outfit| %>
    <p><%= outfit.clothing.category %> : <img src="<%= outfit.clothing.img_url %>" alt="<%= outfit.clothing.name %>"></p>
<% end %>
<br>
<%= link_to "Add Clothing to this Fit", new_outfit_clothing_path(@outfit.id) %>
<br>
<%= link_to "Main Page", outfits_path %>

<p><%= button_to "Delete This Fit?", outfit_path(@outfit), method: :delete %></p>

