<h1> Edit User!</h1>

<%= form_for @user do |f|%>
<%= f.label "Name: "%>
<%= f.text_field :name%>
<br>
<%= f.label "Gender: "%>
<%= f.text_field :gender %>
<br>
<%= f.label "Profile Pic: "%>
<%= f.file_field :avatar%>
<br>
<%= f.label "Email Address: "%>
<%= f.text_field :email%>
<br>
<%= f.label "Password: "%>
<%= f.text_field :password_digest%>
<br>
<%= f.submit%>
<%end%>