<h1>User Show Page</h1>

<% if flash[:messages]%>
    <%= flash[:messages] %>
<% end %>

<% if @user.avatar.attached? %>
  <img src="<%= (url_for(@user.avatar)) %>" alt="<%= @user.name %>" width="500" height="400">
<% end %>
  <br>
<h2><%= @user.name%></h2>
<br>
<h3><%= @user.gender.upcase%></h3>

<h3>My Outfits</h3>
    <% @user.outfits.each do |outfit| %>
      <p><%= link_to outfit.name, outfits_path(@outfit) %></p>
      <hr>
    <% end %>


<p><%= link_to "Closet", closets_path %></p>
<p><%= link_to "Main Page", users_path %></p>
<p><%= button_to "Delete User Profile?", user_path(@user), method: :delete %></p>
