<h1>User Show Page</h1>

<% if @user.avatar.attached? %>
  <img src="<%= (url_for(@user.avatar)) %>" alt="<%= @user.name %>" width="500" height="400">
<% end %>
  <br>
<h2><%= @user.name%></h2>
<br>
<h3><%= @user.gender.upcase%></h3>

<%= button_to "Delete User Profile?", user_path(@user), method: :delete %>
  <%= link_to "Main Page", users_path %>